<a href="https://colab.research.google.com/github/Jieun1124/ESSA/blob/main/Session_220404.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. scikit-learn 으로부터 의사결정나무 모듈을 불러오는 코드를 아래에 작성하세요.

In [ ]:
from sklearn.tree import DecisionTreeClassifier

# 셀을 실행할 때 팝업이 뜨면 `무시하고 계속하기` 를 눌러주세요
## 데이터 다운로드
--- 
아래 셀을 실행시켜 데이터를 colab에 불러옵니다.  
셀 실행은 Ctrl + Enter 를 이용해 실행 시킬 수 있습니다.

In [ ]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-04-04 10:24:45--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2022-04-04 10:24:45--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 142.250.141.113, 142.250.141.138, 142.250.141.100, ...
Connecting to drive.google.com (drive.google.com)|142.250.141.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/glivv2su1aaqanqss2as3k6426qfh3v2/1649067825000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-04-04 10:24:46--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/glivv2su1aaqanqss2as3k6426qfh3v2/1649067825000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 142.250.141.132, 2607:f8b0:4023:c0b::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|142.250.141.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6.1’

3gLj0Q6.1           100%[===================>]  38.29K  --.-KB/s    in 0.02s

2022-04-04 10:24:46 (1.51 MB/s) - ‘3gLj0Q6.1’ saved [39208/39208]

## 라이브러리 불러오기
---
아래 셀을 실행시켜 pandas 와 DecisionTreeClassifier 를 불러옵니다.

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

## 데이터 불러오기
---
아래 셀을 실행시켜 csv 파일 데이터를 DataFrame 객체로 불러옵니다.

In [ ]:
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

## 결측치 제거하기
---
결측치를 제거하고, 결측치가 모두 제거됐는지 확인합니다.

In [ ]:
test = test.dropna()
train = train.dropna()

print(train.isnull().sum())

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64

2. train 데이터중 <br>
예측해야할 `count` 피쳐를 drop()함수를 사용하고, axis=1 옵션을 사용해 해당 열을 제외한 데이터들을 `X_train` 이라는 이름의 DataFrame 객체로 만들고 <br>
`count` 피쳐만을 데이터로 갖는 `Y_train` 이라는 이름의 DataFrame 객체로 만드는 코드를 아래에 작성하세요

In [ ]:
X_train = train.drop('count',axis = 1)
Y_train = train['count']

3. `model` 변수명으로 모델을 선언하고, fit() 함수를 사용해서, `X_train` 을 input 으로 삼고, `Y_train` 을 output 으로 삼아 모델을 훈련시키는 코드를 아래에 작성하세요

In [ ]:
model = DecisionTreeClassifier()
model.fit(X_train, Y_train)

DecisionTreeClassifier()

4. predict() 를 이용해 test data 를 훈련된 모델로 예측한 data 를 생성하고 예측결과 상위 5개를 출력하는 코드를 작성하세요.

In [ ]:
model.predict(test)[0:5]

array([ 30., 226.,  38.,  18.,  52.])

## 데이터 다운로드 2
---
아래 셀을 실행시켜 데이터를 colab 에 불러옵니다.
셀 실행은 Ctrl + Enter 를 이용해 실행시킬 수 있습니다.

In [ ]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3i4n1QB'

import zipfile
with zipfile.ZipFile('3i4n1QB', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-04-04 10:24:46--  https://bit.ly/3i4n1QB
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw [following]
--2022-04-04 10:24:47--  https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw
Resolving drive.google.com (drive.google.com)... 142.250.141.139, 142.250.141.100, 142.250.141.138, ...
Connecting to drive.google.com (drive.google.com)|142.250.141.139|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/v19l8h12abo1jndsgcej58tugrjq35ds/1649067825000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-04-04 10:24:47--  https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/v19l8h12abo1jndsgcej58tugrjq35ds/1649067825000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download
Resolving doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)... 142.250.141.132, 2607:f8b0:4023:c0b::84
Connecting to doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)|142.250.141.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137694 (134K) [application/zip]
Saving to: ‘3i4n1QB.1’

3i4n1QB.1           100%[===================>] 134.47K  --.-KB/s    in 0.08s

2022-04-04 10:24:48 (1.56 MB/s) - ‘3i4n1QB.1’ saved [137694/137694]

In [ ]:
# 라이브러리 불러오기

import pandas as pd
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier

In [ ]:
train = pd.read_csv('data/train.csv')

# Scailing
scaler = MinMaxScaler()
scaler.fit(train[['fixed acidity']])
train['Scaled fixed acidity'] = scaler.transform(train[['fixed acidity']])

# Encoding
encoder = OneHotEncoder()
encoder.fit(train[['type']])
onehot = encoder.transform(train[['type']])
onehot = onehot.toarray()
onehot = pd.DataFrame(onehot)
onehot.columns = encoder.get_feature_names()
train = pd.concat([train, onehot], axis = 1)
train = train.drop(columns = ['type'])
train.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Scaled fixed acidity,x0_red,x0_white
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,0.148760,0.0,1.0
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,0.413223,1.0,0.0
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,0.338843,0.0,1.0
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,0.264463,0.0,1.0
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,0.330579,0.0,1.0

5. sklearn에 model_selection 부분 속 KFold를 불러와보세요

In [ ]:
from sklearn.model_selection import KFold

6. KFold에 n_splits = 5, shuffle = True, random_state = 0이라는 인자를 추가해 "kf"라는 변수에 저장해보세요

In [ ]:
kf = KFold(n_splits=5, shuffle=True, random_state=0)

7. 반복문을 통해서 1번부터 5번까지의 데이터에 접근해보세요 (추가문제입니다. 꼭 풀 필요는 없되 답지를 참고해주세요.)

In [ ]:
for train_index, test_index in kf.split(train):
  X_train, X_test = train.iloc[train_index], train.iloc[test_index]

print(X_train)
print(X_test)

      index  quality  fixed acidity  volatile acidity  citric acid  \
1         1        5            8.8              0.61         0.14
2         2        5            7.9              0.21         0.39
3         3        6            7.0              0.21         0.31
4         4        6            7.8              0.40         0.26
5         5        6            6.0              0.19         0.37
...     ...      ...            ...               ...          ...
5490   5490        6           11.1              0.45         0.73
5492   5492        5            7.7              0.15         0.29
5493   5493        6            6.3              0.18         0.36
5495   5495        5            6.6              0.41         0.31
5496   5496        6            7.0              0.35         0.17

      residual sugar  chlorides  free sulfur dioxide  total sulfur dioxide  \
1                2.4      0.067                 10.0                  42.0
2                2.0      0.057                 21.0                 138.0
3                6.0      0.046                 29.0                 108.0
4                9.5      0.059                 32.0                 178.0
5                9.7      0.032                 17.0                  50.0
...              ...        ...                  ...                   ...
5490             3.2      0.066                  6.0                  22.0
5492             1.3      0.029                 10.0                  64.0
5493             1.2      0.034                 26.0                 111.0
5495             1.6      0.042                 18.0                 101.0
5496             1.1      0.049                  7.0                 119.0

      density    pH  sulphates  alcohol  Scaled fixed acidity  x0_red  \
1     0.99690  3.19       0.59      9.5              0.413223     1.0
2     0.99176  3.05       0.52     10.9              0.338843     0.0
3     0.99390  3.26       0.50     10.8              0.264463     0.0
4     0.99550  3.04       0.43     10.9              0.330579     0.0
5     0.99320  3.08       0.66     12.0              0.181818     0.0
...       ...   ...        ...      ...                   ...     ...
5490  0.99860  3.17       0.66     11.2              0.603306     1.0
5492  0.99320  3.35       0.39     10.1              0.322314     0.0
5493  0.99074  3.16       0.51     11.0              0.206612     0.0
5495  0.99195  3.13       0.41     10.5              0.231405     0.0
5496  0.99297  3.13       0.36      9.7              0.264463     0.0

      x0_white
1          0.0
2          1.0
3          1.0
4          1.0
5          1.0
...        ...
5490       0.0
5492       1.0
5493       1.0
5495       1.0
5496       1.0

[4398 rows x 16 columns]
      index  quality  fixed acidity  volatile acidity  citric acid  \
0         0        5            5.6             0.695         0.06
7         7        6            7.1             0.380         0.42
21       21        5            7.2             0.560         0.26
24       24        5            8.9             0.750         0.14
25       25        8            6.6             0.290         0.31
...     ...      ...            ...               ...          ...
5482   5482        4            6.2             0.430         0.49
5483   5483        6            9.6             0.560         0.31
5488   5488        5            7.6             0.270         0.32
5491   5491        7            6.9             0.340         0.30
5494   5494        7            7.8             0.150         0.34

      residual sugar  chlorides  free sulfur dioxide  total sulfur dioxide  \
0                6.8      0.042                  9.0                  84.0
7               11.8      0.041                 32.0                 193.0
21               2.0      0.083                 13.0                 100.0
24               2.5      0.086                  9.0                  30.0
25               3.9      0.027                 39.0                  96.0
...              ...        ...                  ...                   ...
5482             6.4      0.045                 12.0                 115.0
5483             2.8      0.089                 15.0                  46.0
5488             1.2      0.043                 23.0                  72.0
5491             4.7      0.029                 34.0                 148.0
5494             1.1      0.035                 31.0                  93.0

      density    pH  sulphates  alcohol  Scaled fixed acidity  x0_red  \
0     0.99432  3.44       0.44     10.2              0.148760     0.0
7     0.99624  3.04       0.49     10.0              0.272727     0.0
21    0.99586  3.26       0.52      9.9              0.280992     1.0
24    0.99824  3.34       0.64     10.5              0.421488     1.0
25    0.99035  3.24       0.60     12.6              0.231405     0.0
...       ...   ...        ...      ...                   ...     ...
5482  0.99630  3.27       0.57      9.0              0.198347     0.0
5483  0.99790  3.11       0.92     10.0              0.479339     1.0
5488  0.99236  3.06       0.68     10.5              0.314050     0.0
5491  0.99165  3.36       0.49     12.3              0.256198     0.0
5494  0.99096  3.07       0.72     11.3              0.330579     0.0

      x0_white
0          1.0
7          1.0
21         0.0
24         0.0
25         1.0
...        ...
5482       1.0
5483       0.0
5488       1.0
5491       1.0
5494       1.0

[1099 rows x 16 columns]

In [ ]:
print(X_train.shape)
print(X_test.shape)
# train : test = 4:1로 잘 split된 것을 확인할 수 있음

(4398, 16)
(1099, 16)