<a href="https://colab.research.google.com/github/Jieun1124/ESAA/blob/main/%ED%9A%8C%EA%B7%801_%EC%88%98%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 단순 선형 회귀 분석**
전복의 나이를 예측하는 선형회귀모델을 생성하세요.
전복의 ‘성별’, ‘키’, ‘지름’, ‘높이’, ‘전체무게’, ‘몸통무게’, ‘내장무게’, ‘껍질무게’를 입력하면 ‘껍질의 고리수’를 예측한 뒤 예측된 ‘껍질의 고리수’에 1.5를 더하면 전복의 나이가 됩니다.

In [ ]:
# 기본 모듈 불러오기
import numpy as np
import pandas as pd

**1) 데이터 load 및 변형**

In [ ]:
# 데이터 로드
data = pd.read_csv("/content/drive/MyDrive/abalone.csv")
data.head()
print(data.shape)

# 성별 M은 Male, F는 Female, I는 Infant 이므로 따로 열 만들기
for label in "MFI":
    data[label] = data["Sex"] == label
data.drop('Sex', axis=1, inplace=True)

(4177, 9)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,M,F,I
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,True,False,False
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,True,False,False
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,False,True,False
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,True,False,False
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,False,False,True

**2) X, y 선택**
: y는 Rings열, X는 Rings열을 제외한 나머지를 선택하되 전부 실수가 되도록 한다.

In [ ]:
# X,y 데이터 선택
y = data.Rings
data.drop('Rings',axis=1,inplace=True)
X = data.values.astype(float)

 **3) train/test set 분리**

In [ ]:
# 필요한 모듈 불러오기
from sklearn.model_selection import train_test_split

In [ ]:
# train과 test set 분리 (train:test = 7:3 비율로)
X_train,X_test, y_train,y_test = train_test_split(X,y, test_size=0.3)

**4) 선형회귀모델 생성, 모델 예측치 구하기**

In [ ]:
#필요한 모듈 불러오기
from sklearn.linear_model import LinearRegression

In [ ]:
#선형회귀모델 생성 및 훈련
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [ ]:
# 모델 예측치 구하기
y_pred = model.predict(X_test)

**5) 모델 평가: MSE, RMSE, R2 score, corr 구하기**

In [ ]:
#필요한 모듈 불러오기
from sklearn.metrics import mean_squared_error, r2_score

- MSE, RMSE

In [ ]:
#mse, rmse
mse = mean_squared_error(y_test,y_pred)
rmse = np.sqrt(mse)
print(mse,rmse)

4.982285592354466 2.232103400910107

- R2 score

In [ ]:
#R2 score 측정
print(np.round(r2_score(y_test,y_pred),4))

0.5566

- 회귀 절편값

In [ ]:
#회귀 절편 값
print('회귀 절편: ', model.intercept_)

회귀 절편:  -66674289381073.445

- 회귀 계수 값

In [ ]:
#회귀 계수 값
print('회귀 계수: ', (model.coef_))

회귀 계수:  [ 9.49976990e-01  9.56012614e+00  9.64002755e+00  8.82593289e+00
 -1.95599681e+01 -1.06279113e+01  8.83557862e+00  6.66742894e+13
  6.66742894e+13  6.66742894e+13]

- 상관계수

Hint: corr 함수 이용.

In [ ]:
# 상관계수 구하기
df = pd.DataFrame({'predict': y_pred, 'true': y_test})
cor = df['predict'].corr(df['true'])
cor

0.7473303491769517

# 2. Polynomial features

In [ ]:
# PolynomialFeatures 라이브러리 호출
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
# 임의 데이터 생성

X = np.arange(6).reshape(3, 2)

df =  pd.DataFrame(X)
df.columns = ['x_1','x_2']
df

   x_1  x_2
0    0    1
1    2    3
2    4    5

In [ ]:
# 차원은 2로 설정
# fit_transform 메소드를 통해 데이터 변환
# PolynomialFeatures로 변환 된 데이터를 데이터 프레임 형태로 변환

poly_ftr = PolynomialFeatures(degree=2).fit_transform(X)
df_poly = pd.DataFrame(poly_ftr)

In [ ]:
# df_poly의 컬럼을 1,x1,x2,x1^2,x1*x2,x2^2 로 변경
df_poly.columns = [1,'x1','x2','x1^2','x1*x2','x2^2']
df_poly.columns

Index([1, 'x1', 'x2', 'x1^2', 'x1*x2', 'x2^2'], dtype='object')